<!DOCTYPE html>
<html>
<head>
    <title>Thank you!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    <link runat="server" rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon" />
    <link runat="server" rel="icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/ico" />
</head>
<body class="thanks">
    @Html.Partial("_Header")

    <section>
        <div class="box">Thank you. Our manager shall contact you soon.</div>
    </section>

    @Html.Partial("_GA")
</body>
</html>
