<footer>
    <div class="footer-content-wrapper">
        <div class="sitemap">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Bales", "Bales", "Home")</li>
                <li>@Html.ActionLink("Pellets", "Pellets", "Home")</li>
                <li>@Html.ActionLink("Prices", "Prices", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="copy">UKRAINIAN ALFALFA LLC 2016</div>
    </div>
</footer>
